
<div class="bottom">
  <div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070" id="nav-bar-header-index">
    <button class="navbar-toggler" align="center" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot">
  <ul class="navbar-nav mr-auto">
    
  </ul>
  <!-- <div class="navbar navbar-expand-lg navbar-light" style="background-color: #707070" id="nav-bar-header-index"> -->
  <ul class="navbar-nav" align="center">

  <div class="navbar navbar-expand-sm navbar-light" id="nav-bar-header-index">
    <li class="nav-item" style=" color: white">
      <%= link_to  'About Us', '../au', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'How To Join', '../ht', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'Term & Conditions', '../tc', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to  'Privacy Policy', '../pp', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a> -->
    </li>
    
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
  <div>
  </div>
    
</div>
</div>
<div align="center" style="background-color: #707070; color: #fbfdfd">
&copy;KomoDev 2018,All right reserved
</div>

