<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" id="nav-bar-header-index">
  <div class="navbar-brand" id="bor">
    <%= link_to '../index' do %>
    <%= image_tag("logo.png", width:"80px")%><% end %></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="Toggle-header-index">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Events', '../events', class: 'nav-link'%>
    </li>
  </ul>
  <%if current_user%>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>
  <%else%>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
     
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in/Sign up
        </a>
     <div class="dropdown-menu dropdown-menu-right">
            <div class="px-4 py-3">
              <%=form_with url: login_path do |a| %>
                Email
                <div class="form-group">
                  <%= a.text_field :email, class: 'form-control' %>
                </div>
                Password
                <div class="form-group">
                  <%= a.password_field :password, class: 'form-control'%>
                </div>
                
                <div class="form-group">
                  <%= submit_tag 'Login', class: 'btn btn-danger'%>
                </div>
              <%end%>         
            </div>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" >New around here?<a type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">Sign up</a></a>
      </div> 
              <div class="modal fade bd-example-modal-lg" style="display: none; /*border: 1px solid black;*/ " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModallabelTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle"><center>Ragister</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="width: 100%; height: 100%;">
                      <%=form_for :user, url: '/users' do |f|%>
                      <div align="left">Full Name</div>
                      <div class="form-group">
                      <%=f.text_field :name, class: 'form-control'%>
                      </div>
                      <div align="left">Email</div>
                      <div class="form-group">
                      <%=f.text_field :email, class: 'form-control'%>
                      </div>
                      <div align="left">Password</div> 
                      <div class="form-group">
                      <%=f.password_field :password, class: 'form-control'%>
                      </div>
                      <div align="left">Password Confirmation</div>
                      <div class="form-group">
                      <%=f.password_field :password_confirmation, class: 'form-control'%>
                      </div>
                      <div class="form-group">
                      <%=f.file_field :file%>
                      </div>
                      <div align="right">
                      <%=f.submit"Daftar", class: 'btn btn-danger'%>
                      </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
    </li>
  </ul>
  <%end%>
</div>
</div>
</end>
