
<%=render 'link1'%>
<!-- badan -->

<hr>
<div class="row">
<div class="col-md-12">
		<div class="card" style="border:2px;">
				<div class="card-body bg-light">
					<div align="center" class="jarak-atas">
					<div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-ride="carousel" align="center" style="width: 80%" style="height: 100%">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
	
	<%link_to='foot'%>
	<div class="card-body" style="height: ">
	<h5 class="card-title" align="justify" style="color: #545454; border-radius: 5px; font-family: signika regulers">
<!-- 	<div class="card"> -->

		
		<br><center><h4 style="margin-top: -2.5 %">"Sharing Knowledge, Learn Together"</h4></center><br>
		<justify> 
			KomoDev adalah sebuah komunitas bagi para penggiat IT yang memiliki tujuan membangun dan memajukan potensi IT di Nusa Tenggara Timur. Komunitas ini didirikan dengan nama awal Kupang Programmers Community pada tanggal 04 Agustus 2018, kemudian berubah nama menjadi KomoDev pada tanggal 18 Agustus 2018.<br>KomoDev memiliki konsep dasar yaitu Sharing Knowledge, Learn Together dimana anggota komunitas yang bergabung diharapkan dapat saling berbagi ilmu yang dimiliki, maupun belajar hal-hal baru dari anggota lainnya.
		</justify>
		<br>
		
		<br><div align="center"style="background-color: #; color: #707070; border-radius: 5px;font-family: signika reguler"><h4>Visi :</h4>

		<center>Menjadi komunitas yang dapat memberikan kontribusi kepada Indonesia  dalam bidang IT dengan menonjolkan kearifan lokal Nusa Tenggara Timur.</center>
		
		<br><h4><div align="center">Misi :</div></h4>		
		<center>
			Membangun sebuah forum untuk berbagi ilmu dan belajar mengenai IT<br>
			Mendukung dan mengedukasi penggunaan IT yang sehat<br>
			Menjadi komunitas yang aktif dan produktif berkarya<br>
		
		</center>
		</div>
		</div>
	</h5>
		
	</div>
	</div>
	</div>
</div>
<%=render 'foot'%>