<%=render 'link1'%>
<!-- badan -->

<hr>
<div class="row">
<div class="col-md-12">
		<div class="card" style="border:2px;">
				<div class="card-body bg-light">
					<div align="center" class="jarak-atas">
					<div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-ride="carousel" align="center" style="width: 80%" style="height: 100%">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<%link_to='foot'%>
  <div class="main">
  <div class="card-body">
  <h5 class="card-title" align="justify" style=" color: #707070; border-radius: 5px;font-family: signika reguler">
    <div  align='center'><h3>Mendaftar Workshop</h3><br> <!-- </justify> -->
    <center>
    <div  align='justify'>
      Berikut adalah langkah-langkah untuk mengikuti workshop KomoDev :<br>
      1. Silahkan melakukan login/register di KomoDev<br>
      2. Daftar workshop yang akan berlangsung dilihat pada halaman event<br>
      3. Silahkan pilih workshop yang anda ingin ikuti, dan anda akan memasuki halaman detail event tersebut<br>
      4. Untuk mengikuti event tersebut, anda cukup menekan tombol "Join Event"<br>
      5. Selamat anda telah berhasil terdaftar, sampai jumpa di workshop <br>
      6. Anda dapat membagikan informasi event tersebut dengan menekan tombol sosial media yang tersedia<br>
    </div>
    </center>


</div>
</h5>
</div>
</div>
</div>
</div>
</div>
</div>
</hr>
<div class="bottom fixed-bottom">
<%=render 'foot'%></div>