<%=render 'link1'%>
<!-- badan -->
<hr>
<div class="row">
<div class="col-md-12" >
		<div class="card" style="border:2px;">
				<div class="card-body bg-light">
					<div align="center" class="jarak-atas">
					<div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-ride="carousel" align="center" style="width: 80%" style="height: 100%" >
  <ol class="carousel-indicators" style="color: #FF3B3F;">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="color : red">
    <div class="carousel-item active">
      <img class="d-block w-100"><%=image_tag("c.jpg", style: 'width:100%; height:100%', class: 'image-responsive')%>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"><%=image_tag("b.jpg", style: 'width:100%; height:100%', class: 'image-responsive')%>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"><%=image_tag("a.jpg", style: 'width:100%; height:100%', class: 'image-responsive')%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
	  				<div id="jar">
						<h4 align="left">Upcoming Events</h4>
							<div class="row">
								<% @events.each do |event|%>
	  							<%if event.tag == 'Up Coming'%>
	  							
	  						<div class="col-md-6">
	  								<div class="card" style="border-color: #ff3f3b;">
	  									<div class="card-header" style="background-color: #ff3f3b; color: #FBfdfd; border-radius: 5px;font-family: signika reguler"><b><%=event.judul%></b>
											<div class="kanan">
											<i><%=event.tgl %></i>
											</div></div>
										<div class="card-body" style=" background-color: #fbfdfd; color:#707070; font-family: signika light ">
											<div class="row">
												<div class="col-md-3.2">
													<%= image_tag event.files_url(:display), style: 'border: none; border-radius:5px; margin-right: 5px;'%>	
													</div>
												<div class="kananisi">
													<%= event.details.first(250)%><b><i> <%= link_to 'Read More...', event_path(event), style: 'color:grey'%> </i></b><br>
													
												</div>
											</div>
											
									</div>
									</div>
	  							</div>
	  							
	  						<%end%>
	  						<%end%>
	  					</div>
					</div>

					<div id="jar">
						<h4 align="left">Recent Events</h4>
							<div class="row">
	  							<% @events.each do |eventa|%>
							<%if eventa.tag == 'Recent'%>
	  							<div class="col-md-6">
	  								<div class="card" style="border-color: #ff3f3b">
	  									<div class="card-header" style="background-color:#ff3f3b; color: #FBfdfd; border-radius: 5px;font-family: signika reguler "><b><%=eventa.judul%></b>
											<div class="kanan">
											<i><%=eventa.tgl %></i>
											</div></div>
										<div class="card-body" style=" background-color: white">
											<div class="row">
												<div class="col-md-3.2">
													<%= image_tag eventa.files_url(:display), style: 'border: none; border-radius:5px; margin-right: 5px;'%>	
													</div>
												<div class="kananisi">
													<%= eventa.details.first(250)%><%= link_to 'Read More...', event_path(event), style: 'color:grey'%> </i></b><br>
													
												</div>
											</div>
											
									</div>
									</div>
	  							</div>
	  							 <%end%>
	  						<%end%> 						
	  						</div>
	  							
	  						</div>
	  					
	  						
					</div>

					<div class="card-body" style="background-color: #DBD8D8" align="center">
	  							<div align="center" style="margin-top: -18px">
	  								<h4>Ayo Menjadi Bagian Dari KomoDev</h4> 
	  							
	  							
	  							<div class="card" style="margin-left: 8%;width: 14rem; background-color: #DBD8D8; border-style: none; float: left;">
	  							<center><%=image_tag("ass1.png",style: 'width: 69%', class: 'card-img-top', alt: 'Card image cap')%></center>
	  							<div class="card-body">
	  								<h5 class="card-title" align="center" style="font-family: signika reguler">Bergabung Sebagai Anggota Komunitas</h5>
	  								<p class="card-text" align="center" style="font-family: signika light">Silahkan mendaftar untuk mendapat akses fitur-fitur di KomoDev</p>
	  							</div>
	  							</div>
	  							<div class="card" style="width: 16rem; background-color: #DBD8D8; border-style: none; float: left">
	  							<center><%=image_tag("ass2.png",style: 'width: 60%', class: 'card-img-top', alt: 'Card image cap')%></center>
	  							<div class="card-body">
	  								<h5 class="card-title" align="center" style="font-family: signika reguler">Mencari Informasi Workshop</h5>
	  								<p class="card-text" align="center" style="font-family: signika light">Dapatkan Informasi Terbaru Mengenai Workshop KomoDev</p>
	  							</div>
	  							</div>
	  							<div class="card" style="width: 16rem; background-color: #DBD8D8; border-style: none; float: left;">
	  							<center><%=image_tag("ass3.png",style: 'width: 60%',width: '30%', class: 'card-img-top', alt: 'Card image cap')%></center>
	  							<div class="card-body">
	  								<h5 class="card-title" align="center" style="font-family: signika reguler">Ikuti Workshop</h5>
	  								<p class="card-text" align="center" style="font-family: signika light">Dapatkan Ilmu, Teman Dan Koneksi Dengan Mengikuti Workshop Kami</p>
	  							</div>
	  							</div>
	  							<div class="card" style="width: 16rem; background-color: #DBD8D8; border-style: none; float: left;">
	  							<center><%=image_tag("ass4.png",style: 'width: 60%', class: 'card-img-top', alt: 'Card image cap')%></center>
	  							<div class="card-body">
	  								<h5 class="card-title" align="center" style="font-family: signika reguler">Pembicara Atau Peserta Tidak Masalah</h5>
	  								<p class="card-text" align="center" style="font-family: signika light">Dengan Menjadi Angota Anda Dapat Menjadi Peserta Workshop Ataupun Menjadi Pembicara Dalam Workshop Komunitas</p>
	  							</div>
	  							</div>
	  							</div>
	  							</div>
	  							<div class="card">
	  								<center><h3>Sosial Media</h3>
	  									
	  								<a href="https://m.facebook.com/KomoDev-1122164001280466/?ref=bookmarks"><%= image_tag ('fb grey.png'), style: 'margin-right:5%; width: 6%;margin-bottom:4%'%></a>		
 
	  								<a href="https://www.instagram.com/komodev/?hl=id"><%= image_tag ('insta grey.png'), style: 'width: 6%; margin-right:5%; width: 6%;margin-bottom:4%'%></a>		
 
										
	  								<a href="https://twitter.com/KomoDev"><%= image_tag ('twitter grey.png'), style: 'width: 6%;margin-bottom:4%'%></a>		
 
									
	  								
	  								
	  							</center>
	  							</div>
	  			</div>
		</div>

</div>
</div>

<%=render 'foot'%>