<%=render 'link1'%>
<!-- badan -->

<hr>
<div class="row">
<div class="col-md-12">
		<div class="card" style="border:2px;">
				<div class="card-body bg-light">
					<div align="center" class="jarak-atas">
					<div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-ride="carousel" align="center" style="width: 80%" style="height: 100%">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<%link_to='foot'%>
  <div class="main">
  <div class="card-body">
  <h6 class="card-title" align="center" style=style="font-family: signika reguler"; style= "color: #FBFDFD">
  </h6>



<div class="bottom fixed-bottom">
<%=render 'foot'%></div>