<%if current_user%>
<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" id="nav-bar-header-index">
  <div class="navbar-brand" id="bor">
    <%= link_to '../index' do %>
    <%= image_tag("logo.png", width:"80px")%><% end %></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="Toggle-header-index">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Events', '/events', class: 'nav-link'%>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>

</div>
</div>
</end>
<hr>
<div class="row">
<div class="col-md-12">
    <div class="card" id="jar">
      <div class="card-header" align="center" style="height: 50px"><h2 class="pro">Events</h2></div>
        <div class="card-body bg-secondary" style="padding-left: 15%; padding-right: 15%">
          <%=current_user.name%>  


<%= form_with(model: @event, local: true) do |form| %>

 
<div class="form-group">

<div align="left">Judul</div>
<div class="form-group">
<%= form.text_field :judul, class: 'form-control'%>
</div>


<div align="left">Pemateri</div>
<div class="form-group">
<%= form.text_field :pemateri, class: 'form-control'%>
</div>

<div align="left">Tags</div>
<div class="form-group">
<%=form.select :tag, options_for_select([["Up Coming","Up Coming"],["Recent","Recent"],["Documenter","Documenter"]]), class: 'form-control'%>
</div>

<div align="left">Detail Event</div>
<div class="form-group">
<%= form.text_area :detail, class: 'form-control'%>
</div>
<div align="left">Lokasi</div>
<div class="form-group">
<%= form.text_field :lokasi, class: 'form-control'%>
</div>
<div align="left">Tanggal</div>
<div class="form-group">
<%= form.date_field :tgl, class: 'datepicker'%>
</div>

<div align="left">Jam</div>
<div class="form-group">
<%= form.time_field :waktu, class: 'timepicker'%>
</div>
<%= form.file_field :files %>
</div>
<%=form.submit 'Update', class: 'btn btn-danger kananbutton'%>
 
<% end %>





</div>
</div>
</div>
</div>
<div class="bottom">
  <div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070" id="nav-bar-header-index">
    <button class="navbar-toggler" align="center" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot">
  <ul class="navbar-nav mr-auto">
    
  </ul>
  <!-- <div class="navbar navbar-expand-lg navbar-light" style="background-color: #707070" id="nav-bar-header-index"> -->
  <ul class="navbar-nav" align="center">

  <div class="navbar navbar-expand-sm navbar-light" id="nav-bar-header-index">
    <li class="nav-item" style=" color: white">
      <%= link_to  'About Us', '../au', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'How To Join', '../ht', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'Term & Conditions', '../tc', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to  'Privacy Policy', '../pp', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a> -->
    </li>
    
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
  <div>
  </div>
    
</div>
</div>
<div align="center" style="background-color: #707070; color: #fbfdfd">
&copy;KomoDev 2018,All right reserved
</div>


      <%else%>
      Anda Tidak Memiliki Akun <%= link_to 'Index' , '/welcome/index'%>
      <%end%>