<%if current_user%>
<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" >
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
          <a id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=link_to 'Events', 'events', class: 'nav-link'%>
        </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>
</div>
</div>
<hr>
<div class="row" style="margin-top: -1.5%">
<div class="col-md-12">
    <div class="card" id="jar">
        <div class="card-body " style="background-color: #DBD8D8">  

                         <div class="row" style="padding-left: 2%; padding-right: 2%">

<div class="col-md-2" >
  <%if current_user.level == '0'%>
<%= link_to 'Add Events', new_event_path, class: 'btn btn-danger', style: 'width: 100%' %>
<%else%>
<%end%>
   <ul class="list-group list-group-flush">
    <%= link_to 'Upcoming' , '/events',class: "list-group-item  btn-danger disabled " ,style: "border-radius: 5px"%>
    <%= link_to 'Recent' , 'events/recent',class: "list-group-item  btn-danger active" ,style: "border-radius: 5px; margin-bottom:10px"%>
    </ul>
</div>
<div class="col-md-10" >

<% @events.each do |event |%>
<%if event.tag == 'Recent'%>
<div class="card"  style="margin-bottom: 10px; padding: 20px" >
  <div style="float: left;"><%= event.tgl%>   <%= event.waktu%> Wita</div>
  <div style="padding-right:3%">
  <%= link_to 'show', event_path(event), class: 'btn btn-danger kananbutton', style:'float:right; width:25%;'%>
    </div>
 <div style="float: left; margin-top: -3%">
    <h2 style="width: 66%"><%= event.judul%></h2>
    <div style="width: 66%; float: left;"><%= event.details%></div>
    <div class="kananjudul"><%= image_tag event.files_url(:show), class: 'img-responsive', style: 'width:31%; border-radius:5px'%><p style="margin-top: 10px"><%=image_tag ('marker.png'), style: 'margin-right:10px'%><%=event.lokasi%></p></div>
    <%if current_user.level == '0'%><%= link_to 'Destroy', invitation_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: 'btn btn-danger'%>
    <%else%>

    <%end%>
  </div>
</div>
<%end%>
<%end%>
</div>
    

    </div>

</div>
</div>
</div>
</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item" style=" color: white">
      <%= link_to  'About Us', '../au', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'How To Join', '../ht', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'Term & Conditions', '../tc', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to  'Privacy Policy', '../pp', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a> -->
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
</div>
</div>
</div>

      <%else%>
      
<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" id="nav-bar-header-index">
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="Toggle-header-index">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Events', '../events', class: 'nav-link'%>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
     
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in/Sign up
        </a>
     <div class="dropdown-menu dropdown-menu-right">
            <div class="px-4 py-3">
              <%=form_with url: login_path do |a| %>
                Email
                <div class="form-group">
                  <%= a.text_field :email, class: 'form-control' %>
                </div>
                Password
                <div class="form-group">
                  <%= a.password_field :password, class: 'form-control'%>
                </div>
                
                <div class="form-group">
                  <%= submit_tag 'Login'%>
                </div>
              <%end%>         
            </div>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" >New around here?<a type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">Sign up</a></a>
      </div> 
              <div class="modal fade" style="display: none; " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle"><center>Ragister</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%=form_for :user, url: '/users' do |f|%>
                      <div align="left">Full Name</div>
                      <div class="form-group">
                      <%=f.text_field :name, class: 'form-control'%>
                      </div>
                      <div align="left">Email</div>
                      <div class="form-group">
                      <%=f.text_field :email, class: 'form-control'%>
                      </div>
                      <div align="left">Password</div> 
                      <div class="form-group">
                      <%=f.password_field :password, class: 'form-control'%>
                      </div>
                      <div align="left">Password Confirmation</div>
                      <div class="form-group">
                      <%=f.password_field :password_confirmation, class: 'form-control'%>
                      </div>
                      <div class="form-group">
                      <%=f.file_field :file%>
                      </div>
                      <div align="right">
                      <%=f.submit"Daftar"%>
                      </div>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
    </li>
  </ul>
</div>
</div>

<hr>
<div class="row" style="margin-top: -1.5%">
<div class="col-md-12">
    <div class="card" id="jar">
        <div class="card-body " style="background-color: #DBD8D8">  




                         <div class="row" style="padding-left: 2%; padding-right: 2%">
<div class="col-md-2" >
   <ul class="list-group list-group-flush">
    <%= link_to 'Upcoming' , '/events',class: "list-group-item  btn-danger disabled" ,style: "border-radius: 5px"%>
    <%= link_to 'Recent' , 'recent',class: "list-group-item  btn-danger active" ,style: "border-radius: 5px; margin-bottom:10px"%>
    </ul>
</div>
<div class="col-md-10" >
<% @events.each do |event |%>
<%if event.tag == 'Recent'%>
<div class="card"  style="margin-bottom: 10px; padding: 20px" >
  <div style="float: left;"><%= event.tgl%>   <%= event.waktu%> Wita</div>
  <div style="padding-right:3%">
  <%= link_to 'show', event_path(event), class: 'btn btn-danger kananbutton', style:'float:right; width:25%;'%>
    </div>
 <div style="float: left; margin-top: -3%">
    <h2 style="width: 66%"><%= event.judul%></h2>
    <div style="width: 66%; float: left;"><%= event.details%></div>
    <div class="kananjudul"><%= image_tag event.files_url(:show), class: 'img-responsive', style: 'width:31%; border-radius:5px'%><p style="margin-top: 10px"><%=image_tag ('marker.png'), style: 'margin-right:10px'%><%=event.lokasi%></p></div>

  </div>
</div>
<%end%>
<%end%>
</div>
    

    </div>

</div>
</div>
</div>
</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item" style=" color: white">
      <%= link_to  'About Us', '../au', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'How To Join', '../ht', class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to  'Term & Conditions', '../tc', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to  'Privacy Policy', '../pp', class: 'nav-link'%>
      <!-- <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a> -->
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
</div>
</div>
</div>
      <%end%>

