<%if current_user%>
<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" >
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
          <a id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=link_to 'Events', 'events', class: 'nav-link'%>
        </a>
    </li>
    <li class="nav-item">
          <a href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to 'Articles', '/articles/new',class: 'nav-link'%>
        </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>
</div>
</div>
<hr>
<div class="row" style="margin-top: -1.5%">
<div class="col-md-12">
    <div class="card" id="jar">
        <div class="card-body" style="background-color: #dbd8d8">  




                         <div class="row" style="padding-left: 2%; padding-right: 2%">
<div class="col-md-2" >
   <ul class="list-group list-group-flush">
    <%= link_to 'Upcoming' , '/invitations',class: "list-group-item  btn-danger disabled " ,style: "border-radius: 5px"%>
    <%= link_to 'Recent' , 'invitations/recent',class: "list-group-item  btn-danger active" ,style: "border-radius: 5px; margin-bottom:10px"%>
    </ul>
</div>
<div class="col-md-10" >
<% @events.each do |event |%>
<%if event.tag == 'Recent'%>
<div class="card"  style="margin-bottom: 10px; padding: 20px" >
  <div style="float: left;"><%= event.tgl%>   <%= event.waktu%> Wita</div>
  <div style="padding-right:3%">
  <%= link_to 'show', invitation_path(event), class: 'btn btn-danger kananbutton', style:'float:right; width:25%;'%>
    </div>
 <div style="float: left; margin-top: -3%">
    <h2 style="width: 66%"><%= event.judul%></h2>
    <div style="width: 66%; float: left;"><%= event.details%></div>
    <div class="kananjudul"><%= image_tag event.files_url(:show), class: 'img-responsive', style: 'width:31%; border-radius:5px'%><p style="margin-top: 10px"><%=image_tag ('marker.png'), style: 'margin-right:10px'%><%=event.lokasi%></p></div>
    <%= link_to 'show', invitation_path(event), class: 'btn btn-danger'%>
    <%= link_to 'Destroy', invitation_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: 'btn btn-danger'%>
  </div>
</div>
<%end%>
<%end%>
<% @invitations.each do |f|%>
user id<%= f.users_id%>
event id<%= f.events_id%><br>
<%end%>
</div>
    

    </div>

</div>
</div>
</div>
</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">How To Join<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
</div>
</div>
</div>

      <%else%>
      
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #cc0000">
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
          <a id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=link_to 'Events', 'new', class: 'nav-link'%>
        </a>
    </li>
    <li class="nav-item">
          <a href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to 'Articles', '/articles/new',class: 'nav-link'%>
        </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
   
  </ul>
</div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="card" id="jar">
      <div class="card-header" align="center" style="height: 50px"><h2 class="pro">Events</h2></div>
        <div class="card-body bg-secondary">  

<div class="form-group">
  
<table class="table table-border">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tag</th>
    <th scope="col">Nama Event</th>
    <th scope="col">Tanggal</th>
    
  </tr>
  </thead>
  <tbody>
    <% @events.each_with_index do |event , i|%>
 <%i=i+1%>
    <tr>
      <th scope="row"><%=i%></th>
      <th scope="row"><%= event.tag %></th>
      <th scope="row"><%= event.judul %></th>
      <th scope="row"><%= event.tgl %></th>
      
      

        <% end %>
    </tr>
  </tbody>
</table>
     </div>
    </div>

</div>
</div>
</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #cc0000">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">How To Join<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
</div>
</div>
      <%end%>

