<%if current_user%>
<div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" >
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
          <a id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=link_to 'Events', '/events', class: 'nav-link'%>
        </a>
    </li>
    <li class="nav-item">
          <a href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to 'Articles', '/articles/new',class: 'nav-link'%>
        </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>
</div>
</div>
<hr>
<div class="row" style="margin-top: -1.5%">
<div class="col-md-12">
    <div class="card" id="jar">
      <div class="card-header" style="padding: 25px;"><div style="margin-left: 2%; margin-bottom: 0.4%"><%= @event.tgl%></div><h3 style="width: 60%; margin-bottom: -5%"><%=@event.judul%></h3>

      <%= form_for :invitation, url: invitations_path do |form|%>
<%=form.hidden_field :events_id, value: @event.id%><br>
<%=form.hidden_field :users_id, value: current_user.id%><br>
<% if current_user.id == %>
  <%=form.submit 'Join', class: 'btn btn-danger kananbutton', style: 'float:right; margin-top: -4%;'%>
<% else %>
  <%=form.submit 'Join', class: 'btn btn-danger kananbutton disabled'  , style: 'float:right; margin-top: -4%;'%>
<% end %>
<%end%>

    </div>
        <div class="card-body bg-secondary" style="padding-top: 1%; padding-left: 3%">
        <%= image_tag @event.files_url(:play)%>
        <div class="card" style="float: right; width: 23%">
          <%= image_tag ('clock.png'), style:'width:15px;'%><div style="float: left;"> <%= @event.tgl%> <%= @event.waktu%></div>
          <br> 
          <%= image_tag ('marker.png'), style:'width:10px;'%><%= @event.lokasi%>
        </div>
        <div style="width: 78%; margin-top: 1%">
          <%= @event.details%>
        </div>
<div align="left" style="float: right; margin-top: 1%; width: 30%">

<%= link_to 'Back', events_path, class: 'btn btn-danger'%> 
</div>   

        </div>



 
   </div>
    </div>

</div>

</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">How To Join<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
</div>
</div>
</div>
      <%else%>
      <div class="navbar navbar-expand-lg navbar-light" style="background-color: #FBFDFD" >
  <div class="navbar-brand" id="bor"><%=link_to image_tag("logo.png", width:"80px"), '/welcome/index'%></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
          <a id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=link_to 'Events', '/events', class: 'nav-link'%>
        </a>
    </li>
    <li class="nav-item">
          <a href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to 'Articles', '/articles/new',class: 'nav-link'%>
        </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
      </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.file_url,class: 'img-circle1' %>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><center><%=current_user.name%></center></a>
          <div class="dropdown-divider"></div>
          <center><%=link_to 'Profil', '/users/profil' , class: 'dropdown-item'%></center>
          <center><%=link_to "Logout",'/logout' ,class: 'dropdown-item'%></center>
        </div>
      </li>
    </li>
  </ul>
</div>
</div>
<hr>
<div class="row" style="margin-top: -1.5%">
<div class="col-md-12">
    <div class="card" id="jar">
      <div class="card-header" style="padding: 25px;"><div style="margin-left: 2%; margin-bottom: 0.4%"><%= @event.tgl%></div><h3 style="width: 60%; margin-bottom: -5%"><%=@event.judul%></h3>

      <%= form_for :invitation, url: invitations_path do |form|%>
<%=form.hidden_field :events_id, value: @event.id%><br>
<%=form.hidden_field :users_id, value: current_user.id%><br>
<% if current_user.id == %>
  <%=form.submit 'Join', class: 'btn btn-danger kananbutton disabled', style: 'float:right; margin-top: -4%;', data: {confirm: Belum Memiliki Akun}%>
<% else %>
  <%=form.submit 'Join', class: 'btn btn-danger kananbutton disabled'  , style: 'float:right; margin-top: -4%;'%>
<% end %>
<%end%>

    </div>
        <div class="card-body bg-secondary" style="padding-top: 1%; padding-left: 3%">
        <%= image_tag @event.files_url(:play)%>
        <div class="card" style="float: right; width: 23%">
          <%= image_tag ('clock.png'), style:'width:15px;'%><div style="float: left;"> <%= @event.tgl%> <%= @event.waktu%></div>
          <br> 
          <%= image_tag ('marker.png'), style:'width:10px;'%><%= @event.lokasi%>
        </div>
        <div style="width: 78%; margin-top: 1%">
          <%= @event.details%>
        </div>
<div align="left" style="float: right; margin-top: 1%; width: 30%">

<%= link_to 'Back', events_path, class: 'btn btn-danger'%> 
</div>   

        </div>



 
   </div>
    </div>

</div>

</div>
<div class="bottom">
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #707070">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfoot" aria-controls="navbarSupportedContentfoot" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContentfoot" align="center">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">How To Join<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Term & Conditions<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Privacy Policy<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    
  </ul>
</div>
</div>
</div>
      <%end%>