/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */
@import "bootstrap";


hr {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: black;
}



.active{
	
	color: blue;
}

.jarak-atas{
	margin-top:-15px;
}

.hub{
	background:#000055;
	border-radius:5px;
	margin-top:10px;
	box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.702);	
}

#jk{
	margin-left:500px;
}

#bw{
	margin-top:-20px;
}

.kiri{
	margin-left:620px;
}

#jar{
	margin-top:20px;
}

#jara{
	margin-top:35px;
}

.bottom{
	padding-top:15px;
	margin-right:5px;
	margin-left:5px;
}

.modal-backdrop{
  bottom: 4;
}

.navbar{
	border-radius:5px;
}

.card-body{
	border-radius:5px;
}

.pro{
	margin-top:-8px;
}

.form-group{
	width:100%;
}

.img-circle{
	border:1px;
	border-color:white;
	border-radius:100px;
}

.img-circle1{
	width:65px;
	height:65px;
	border:1px;
	border-color:white;
	border-radius:65px;
}
.judul{
width:100%;
background-color: #f04242;
color:#fbfdfd;
 height: 20px;
}
.kanan{
	float:right;
	width:30%;
	text-align:right;
	padding-bottom:-5px;
}
.kiri{
	float:left;
	width:auto;
	text-align:left;
		
} 
.kananjudul{
	width:auto;
	text-align:right;

}

.kananbutton{
	width:10%;
}

.kananisi{
	float:right;
	width:70%;
}
.kiri{
	float:left;
	width:70%;
	padding-bottom:-5px; 
}

.container {
  position: relative;
  width: 6%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: Red;
}

.container:hover .overlay {
  opacity: 0.3;
}

